*,
body,
html {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
nav #title {
  margin-right: auto;
  font-size: 1.5rem;
  animation: titleColorChange 5s infinite alternate;
}

@keyframes titleColorChange {
  0% {
    color: white;
  }

  50% {
    color: orange;
  }

  100% {
    color: white;
  }
}
body {
  font-family: 'IBM Plex Mono', monospace;
  background: 	#086452;
}

h1,
h2,
h3 {
  color: beige;
}

img {
  max-width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

nav {
  background-color: #084440;
  padding: 0px 60px;
  display: flex;
  align-items: center;
}

#title {
  font-size: 42px;
}

#links {
  margin-left: 60px;
  display: flex;
  align-items: center;
}

#links>li>a {
  color: white;
  display: inline-block;
  padding: 20px 30px;
}

#links>li {
  position: relative;
}

#links>li:hover>a {
  color: sandybrown;
}

#links>li:hover .dropdown {
  display: block;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background: saddlebrown;
  display: none;
}

.dropdown a {
  display: inline-block;
  text-align: center;
  color: white;
  padding: 10px;
  width: 100%;
}

.dropdown a:hover {
  background: #574973;
}

.triangle {
  width: 20px;
  height: 10px;
  background: white;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%)
}

header {
  height: 70vh;
  margin-bottom: 40px;
  background-size: cover;
  background-position: center;
}

header h1 {
  color: white;
  font-size: 80px;
  text-shadow: 2px 2px 4px beige;
}

.slides {
  height: 100%;
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s linear;
  background-size: cover;
  background-position: center;
}

.slide.show {
  opacity: 1;
}

#play {
  background-image: url(/images/sale.jpg);
}

#gorrila {
  background-image: url(/images/gor.jpg)
}

#nintendo {
  background-image: url(/images/nin.jpg)
}

section {
  width: 80%;
  margin: auto;
}

section h2 {
  font-size: 60px;
  margin: 60px 0;
}

.items {
  display: flex;
}

.items .item {
  flex: 1;
  margin: 0 25px;
}

.item {
  color: white;
  background-color: #084440;
  padding: 20px;
  border-bottom: 3px solid #084440;
  text-align: center;
  position: relative;
}

.item .text {
  padding: 20px;
}

.item h3 {
  font-size: 32px;
  margin: 16px 0;
}

imageContainer {
  height: 260px;
  width: 100%;
}

imageContainer img {
  max-height: 100%;
  max-width: 100%;
}

.price {
  color: #574973;
  font-size: 32px;
  background: white;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px;
}

.item.large {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.large.imageContainer {
  height: 400px;
  width: 500px;
}

.button {
  color: white;
  background-color: #084440;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 24px;
  margin-top: 20px;
  display: inline-block;
}

#footer {
  background-color: #084440;
  text-align: center;
  margin-top: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 10px 0;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer a {
  padding: 10px;
  color: white;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;   
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

